<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
      <header>
        <nav>
          <a href="/"><img id="logo" src="/images/logo.svg"></a>
          <a href="https://github.com/sdolmo/CodeChallenge" title="View on Github"><img class="icon" src="/images/github-sign.svg"></a>
        </nav>
      </header>
      <div class="page-wrap">
