<% include ./partials/header %>

<div class="container">
  <a id="li-btn" href='/'>Add More</a>
  <h1>List of People</h1>
  <ul>

    <% people.forEach(function(person) { %>
      <li>
        <p><%= person.name %>:</p>
        <a id="li-btn" href='/people/<%= person.id %>/edit'>Edit</a>
        <a id="li-btn" href='/people/<%= person.id %>'>View</a>
      </li>
    <%})%>

  </ul>
</div>
<% include ./partials/footer %>
