<% include ./partials/header %>

<div class="container">
  <h1>List of People</h1>
  <ul>

    <% people.forEach(function(person) { %>
      <li>
        <p><%= person.name %>:</p>
        <a id="li-btn" href='/people/<%= person.id %>/edit'>Edit</a>
        <a id="li-btn" href='/people/<%= person.id %>'>View</a>
        <form action='/people/<%= person.id %>?_method=DELETE' method="POST">
          <button id="li-btn">Delete</button>
        </form>
      </li>
    <%})%>

  </ul>
</div>
<% include ./partials/footer %>
